<div class="page-header">

<center>
  <h3>
    <%=t '.title', :default => @folder.name.titleize %>
  </h3>
</center>

 <% @folders.each do |h| %>
  <% if h.id == @folder.id %>
   
</div>

<% if @count >= 10 %>
   <div class="container">
      <div class="row">

 <% @phases.each do |phase| %>


<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="offer offer-info">
        <div class="shape">
          <div class="shape-text">
            Phase              
          </div>
        </div>
        <div class="offer-content">

        <%= link_to phase.name , phase_path(phase)  %>
          <h3 class="lead">
           
          </h3>
          <p>
           
          </p>
        </div>
      </div>
    </div>
 


    
       
  






 <% end %>
</div>
</div>


 <h1> <%= link_to "Donate" , new_charge_path ,:method => :get %> to add more phases </h1>
 <%else %>
 
 <div class="container">
  <div class="row">

 <% @phases.each do |phase| %>



 

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="offer offer-info">
        <div class="shape">
          <div class="shape-text">
            Phase              
          </div>
       </div>
       <div class="offer-content">

        
       <h3 class="lead">
           
       </h3>
       <p>
         <%= link_to phase.name , phase_path(phase)  %>
       </p>
    </div>
  </div>
</div>
 <% end %>

 

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="offer offer-info">
        <div class="shape">
          <div class="shape-text">
            Phase              
          </div>
        </div>
        <div class="offer-content">

        <%= form_for(@phase) do |f| %>
  <% if @phase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phase.errors.count, "error") %> prohibited this phase from being saved:</h2>

      <ul>
      <% @phase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.hidden_field :folder_id , :value => "#{@folder.id}" %>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
          <h3 class="lead">
           
          </h3>
          <p>
             
          </p>
        </div>
      </div>
    </div>
    </div>



</div>






<% end %>
<% end %>
<% end %>