<div class="main-header1">

    <% if current_user.folders.empty? %>  
        <%= render "folder" %>
    <% else %>
    
    <% current_user.folders.each do |f| %>
          <% if f.phases.empty? %>
          
          <%= render "phase" %>
      
          <% else %>
            
          <% f.phases.each do|s| %>
              
              <% if s.stories.empty? %>
                  <%= render "story" %>
             <% end %>

           <% end %>
        <% end %>
      <% end %> 
    <% end %>
                <div class="container">
                    <div class = "story">
                      <div class = "stories">
                        <%= render "stories" %>
                     </div>
                    </div>
                </div>
           
             <center>
              <%= paginate @stories%>
            </center>
   
            
       
</div>
        
 
     
<!-- Modal -->
