<!DOCTYPE html>
<html>
<head>
  <title>PandSoft </title>
  <%= favicon_link_tag '/assets/favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
   <div class="navbar navbar-default navbar-fixed-top" role="navigation">
     <div class="container">
       <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
           </button>
          <%= link_to "PandSoft" , users_dashboard_path , method: :get, :class => "navbar-brand" %>
        </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                
                <% if signed_in? %>
                <li><%= link_to "Stories" , users_home_path , method: :get  %></li>
                <li><%= link_to "My Life" , folders_path %></li>
                <li>
                <div class="col-sm-5 col-md-5">
                  <%= form_tag users_home_path, :method => 'get' ,:class =>"navbar-form"  do %>
                  <p> 
                    <div class="input-group">
                        <%= text_field_tag :search, params[:search], placeholder: "Search stories",:class=>"form-control" , :size => "70"%>
                    <div class="input-group-btn">
                          <%= submit_tag "Search", :name => nil ,:class => "btn btn-success" ,:size=> "10" %>
                    </div>
                    </div>
                  </p>
                  <% end %>
                </div>
                </li>
        <% end %>
             
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li><%= link_to "SignOut" ,destroy_user_session_path , :method=>:delete %>
          </li>
        
        <% else %>
            
          <li><%= link_to "Register", new_user_registration_path  %></li>
          <li><%= link_to "Sign In", new_user_session_path%></li>
        
        <% end %>
                  
      </ul>
    </div>
  </div>
      

      </div>

<% flash.each do |type, message| %>
        <div class=" alert alert-<%= bootstrap_class_for(type) %>">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
        </div>
<% end %>

<%= yield %>

<hr>

<footer>

    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">&copy; 2014 PandSoft, Inc. &middot;</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li> <a href="//www.iubenda.com/privacy-policy/998700" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a></li>
            </ul>
        </div>
    </div>

      <p class="pull-right"><a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="fa fa-chevron-up"></span></a>
      </p>
<table>
  <tr>
    
  
   
    <td>
<!-- <script class = "pull-right">
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1444699415786014',
      xfbml      : true,
      version    : 'v2.1'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  <f
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</f>
    </td>
  </tr>

</table> -->
</footer>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- life story -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-4738196560944914"
     data-ad-slot="4403724788"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="text/javascript">
    google_ad_client = "ca-pub-4738196560944914";
    google_ad_slot = "5880457980";
    google_ad_width = 300;
    google_ad_height = 600;
</script>
<!-- stories -->
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<script type="text/javascript">
    google_ad_client = "ca-pub-4738196560944914";
    google_ad_slot = "7705601580";
    google_ad_width = 728;
    google_ad_height = 90;
</script>
<!-- Life phase -->
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
    
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50841364-2', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
    google_ad_client = "ca-pub-4738196560944914";
    google_ad_slot = "7705601580";
    google_ad_width = 728;
    google_ad_height = 90;
</script>
<!-- Life phase -->
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PF7F6D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PF7F6D');</script>
<!-- End Google Tag Manager -->

</body>
</html>
